@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
}

#container{
    margin: 0 auto;
    text-align: center;
}

#count{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: 1px solid black;
    line-height: 200px;
    border-radius: 50%;
    color: white;
    background-color: black;
}

button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    transition: 0.2s;
}

button:hover{
    background-color: gray;
}

i{
    margin-top: 10px;
}

i:hover{
    color: gray;
}

#title{
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
}

#count{
    font-family: 'Roboto', sans-serif;

}